Django>=3.0,<4.0
psycopg2-binary==2.8.6
django-extensions>=3.0,<4.0
django-cors-headers==3.6.0  
Werkzeug==2.0.2
celery[redis]==5.1.2
django-celery-beat==2.2.1
django-celery-results==2.2.0
django-import-export==3.0.2 
django-model-utils
django-db-connection-pool[postgresql]
mammoth==1.4.18
pdfkit==0.6.1
django-db-connection-pool[postgresql]
django-allow-cidr==0.5.0
cryptography
djangorestframework
markdown
django-filter
django-service-objects
Deprecated
python-dateutil
django-storages
boto3
python-docx
Pillow==8.3.0
django-redis
pusher==3.3.0
docxtpl
pandas
openpyxl

# Deployment
gunicorn
django-heroku==0.3.1
whitenoise
sentry-sdk
drf-yasg
